@charset "utf-8";
/* CSS Document */
html,
body {
height: 100%;
}


#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -40px;
  /* Pad bottom by footer height */
  padding: 0 0 40px;
}

#footer {
  height: 40px;
  background-color: #CCC;
}

.box {
	  float: left;
	  width: 20px;
	  height: 20px;
	  margin: 5px;
	  border: 1px solid rgba(0, 0, 0, .2);
	}

.page-header
{
margin-top:100px;
}

.submenu
{
margin:20px;
}

.minicolors-theme-default.minicolors 
{
margin-top:3px;
}
